<h3>FetchBugs</h3>

<!-- Inputs for Bug title, description, and hours remaining-->
<form>
    <label for="ftitle">Title:</label><br>
    <input type="text" id="ftitle" name="ftitle"><br>

    <label for="fdescription">Description:</label><br>
    <input type="text" id="fdescription" name="fdescription"><br>

    <label for="fhoursremaining">Hours Remaining:</label><br>
    <input type="text" id="fhoursremaining" name="fhoursremaining"><br>
</form>
@code {

}
