<!-- NavMenu.razor will look for modalExample and find it here -->
@page "/modalExample"
<h3>Blazor ModalDemo</h3>

@inject IModalService modal
<!-- on click, open a modal that shows FetchData using a lambda function with no input parameters 
and the title of the modal is "Modal Example". Modal Example is the Title of the Modal.
Button class is primary which determines the color of the button.
View is the title of the button-->
<button @onclick="@(()=> modal.Show<FetchData>("Modal Example"))" class="btn btn-primary">View</button>

<!-- modal showing Counter. This is a lambda function -->
<button @onclick="@(()=> modal.Show<Counter>("Modal Example"))" class="btn btn-info">Counter</button>

<!-- modal showing FetchBugs -->
<button @onclick="@(()=> modal.Show<FetchBugs>("Title of Modal"))" class="btn btn-primary">Title of Button</button>

@code {
    
}
